# external-secret.yml.j2 — Template générique ExternalSecret
# Variable de boucle : es_item
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "{{ es_item.name }}"
  namespace: "{{ es_item.namespace }}"
  labels:
    app.kubernetes.io/managed-by: soc-ansible
    soc.lab/component: eso-external-secret
  annotations:
    soc.lab/vault-path: "{{ es_item.vault_path }}"
spec:
  refreshInterval: "{{ eso_refresh_interval }}"
  secretStoreRef:
    name: "{{ eso_cluster_secret_store_name }}"
    kind: ClusterSecretStore
  target:
    name: "{{ es_item.name }}"
    creationPolicy: Owner
  data:
{% for entry in es_item.data %}
    - secretKey: "{{ entry.secretKey }}"
      remoteRef:
        key: "{{ es_item.vault_path }}"
        property: "{{ entry.remoteKey }}"
{% endfor %}
