apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: "{{ netpol_name }}"
  namespace: "{{ netpol_namespace }}"
spec:
  endpointSelector: {{ netpol_pod_selector | to_json }}
  egress:
    - toEntities:
        - kube-apiserver
