apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ netpol_name }}"
  namespace: "{{ netpol_namespace }}"
spec:
  podSelector: {{ netpol_pod_selector | to_json }}
  policyTypes:
    - Egress
  egress:
    - to:
{% for sel in netpol_dest_pod_selectors %}
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: "{{ netpol_dest_namespace }}"
          podSelector: {{ sel | to_json }}
{% endfor %}
      ports:
{% for p in netpol_ports %}
        - protocol: "{{ p.protocol }}"
          port: {{ p.port }}
{% endfor %}
